<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="coach"
          class="ioc.example.CrossfitCoach">
            <constructor-arg ref="adviceService"/>
     </bean>
    <bean id="adviceService"
          class="ioc.example.BadAdvice ">
    </bean>
    <bean id="zumbaCoach"
          class="ioc.example.ZumbaCoach ">
            <property name="adviceService" ref="adviceService"/>
            <property name="email" value="yogapants@soy.se"/>
            <property name="bicepCircumference" value="12"/>
    </bean>
</beans>